/* 顶部 */
.header{
	width: 1920px;
	height: 29px;
	border-bottom: 1px solid #ddd;
	background: #f7f7f7;
}

.header_center{
	width: 1200px;
	height: 29px;
	margin: 0px auto;
	line-height: 29px;
	color: #666666;
}

.header_bt ul li{
	float: left;
}

.header_bt ul li a{
	color: #666666;
}

.header_bt li span{
	margin: 0px 10px;
}

.header_bt a:hover{
	color: #f80;
}


/* logo 搜索框 购物车 */
.center{
	width: 1200px;
	height: 115px;
	margin: 0px auto;
}

.center .logo{
	margin: 29px 0px 0px 17px;
}

.center .search{
	margin: 34px 0px 0px 124px;
	border: 1px solid #37ab40;
	background: url(../images/icons.png) no-repeat 10px 10px;

}

.center .search .txt{
	width: 480px;
	height: 38px;
	border: 0px;
	outline: none;
	margin-left: 36px;
}

.center .search .sub{
	width: 100px;
	height: 38px;
	border: 0px;
	outline: none;
	background: #37ab40;
	font-size: 14px;
	color: white;
	cursor: pointer;
}

.center .shoppingcar{
	width: 200px;
	height: 40px;
	margin-top: 34px;
}

.center .shoppingcar a{
	width: 158px;
	height: 38px;
	border: 1px solid #ddd;
	background: #f7f7f7 url(../images/icons.png) no-repeat 12px -42px;
	color: #37ab40;
	text-indent: 56px;
	float: left;
	line-height: 38px;
}

.center .shoppingcar div{
	width: 40px;
	height: 40px;
	color: white;
	background: #ff8800;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	float: left;
	line-height: 38px;
}


/* 主菜单 */
.main_menu{
	width: 1920px;
	height: 40px;
	border-bottom: 2px solid #39a93e;
}

.main_menu .menu_center{
	width: 1200px;
	height: 40px;
	margin: 0px auto;
}

.main_menu .menu_center h2{
	width: 200px;
	height: 40px;
	font-weight: normal;
	color: white;
	background: #39a93e;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
}

.menu_center ul li a{
	float: left;
	color: #666;
	padding: 0px 20px 0px 20px;
	margin-top: 10px;
	font-size: 14px;
}

.menu_center .border{
	border-left: 1px solid #666;
	border-right: 1px solid #666;
}

.menu_center ul li a:hover{
	color: #f80;
}


/* 二级菜单 幻灯片 广告 */
.main_center01{
	width: 1200px;
	height: 270px;
	margin: 0px auto;
}


/* 二级菜单 */
.menu_02{
	width: 200px;
	height: 270px;
}

.menu_02 .type li{
	width: 198px;
	height: 44px;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: url(../images/icons.png) no-repeat 180px -385px;
}

.menu_02 .type li a{
	display: block;
	text-align: center;
	line-height: 45px;
	color: black;
}

.menu_02 .type li:hover a{
	color: #f80;
}

.menu_02 .type .icons_01{
	background: url(../images/icons.png) no-repeat 38px -90px;
}

.menu_02 .type .icons_02{
	background: url(../images/icons.png) no-repeat 35px -140px;
}

.menu_02 .type .icons_03{
	background: url(../images/icons.png) no-repeat 35px -190px;
}

.menu_02 .type .icons_04{
	background: url(../images/icons.png) no-repeat 38px -240px;
}

.menu_02 .type .icons_05{
	background: url(../images/icons.png) no-repeat 35px -290px;
}

.menu_02 .type .icons_06{
	background: url(../images/icons.png) no-repeat 35px -340px;
}


/* 幻灯片 */
.slide_con{
	width: 760px;
	height: 270px;
	position: relative; 
	overflow: hidden;
}

.slide_con .slide{
	position: absolute;
	width: 4560px;
	height: 360px;
	left: 0px;
	top: 0px;
}

.slide_con .slide li{
	float: left;
}

.prev,.next{
	width: 15px;
	height: 24px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: url(../images/icons.png) no-repeat left -450px;
	cursor: pointer;
}

.prev{
	position: absolute;
	left: 10px;
	top: 125px;
}

.next{
	position: absolute;
	left: 735px;
	top: 125px;
	background-position: left -500px;
}

.points{
	position: absolute;
	width: 100%;
	height: 11px;
	left: 0px;
	bottom: 9px;
	font-size: 0px;
	text-align: center;
}

.points li{
	width: 11px;
	height: 11px;
	background: #9f9f9f;
	display: inline-block;
	margin: 0px 5px;
	border-radius: 50%;
}

.points .active{
	background: #cecece
}

.adv{
	width: 240px;
	height: 270px;
	font-size: 0px;
}
